body {
    font-family:'Segoe UI', sans-serif;
    padding: 20px;
}

.start-background {
    background-image: url(bg.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.game-background, .player_info {
    background: linear-gradient(to bottom, #58c4d1 50%, #2e949f);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

/*Dice*/
.dice {
    position: relative;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.5);
}

.score:hover, .dice:hover{
    background-color: rgb(255, 245, 170);;
}

.dice .middle {
    position: absolute;
    top: 40%;
    left: 40%;
}
.dice .top-left {
    position: absolute;
    top: 5%;
    left: 5%;
}
.dice .top-right {
    position: absolute;
    top: 5%;
    right: 5%;
}
.dice .bottom-left {
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.dice .bottom-right {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.dice .middle-left {
    position: absolute;
    top: 40%;
    left: 5%;
}
.dice .middle-right {
    position: absolute;
    top: 40%;
    right: 5%;
}

.dot {
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px; 
}

/*Other Components*/
.instructions {
    background-color: #F0DE55;
    padding: 15px;
    margin-right: 10px;
    border-radius: 3px;
    width: fit-content;
    box-shadow: inset 0px 0px 8px rgba(42, 42, 42, 0.5);
    visibility: hidden;
    text-align: center;
}

#score-table, .info-table {
    padding: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}

.score-td, .score, .info-td, .info-td-head {
    padding: 5px;
    width: 200px;
    border-style: solid;
    background-color: white;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.dice-td {
    padding: 5px;
    width: 200px;
}

#title {
    margin: 0px; 
    padding: 0px;
}

#upper-title, #lower-title, .info-td-head {
    background-color: #F0DE55;
    font-size: large;
}

.blank-td {
    border-style: hidden;
    border-left-style: solid;
    background-color: transparent;
    padding-left: 20px;
}

/*Containers*/
.row {
    display: flex;
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .button-container {
    display: flex;
    gap: 20px; 
    top: 30px;
}

#dice-board {
    flex:1;
}

/*Buttons*/
button {
    border: 0;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    font-size: x-large;
    background-color: #F0DE55;
    box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.5);
}

.play-button {
    font-size: xx-large;
    width: 200px;
    height: 100px;
    background: transparent;
    box-shadow:none;
}

.play-button:hover {
    border-style: solid;
    border-width: 3px;
}

#how-to-play, #home_button, #info {
    font-size: large;
    position: relative;
}

#roll-button:hover, #how-to-play:hover, #login-button:hover ,#info:hover, #home_button:hover, .small:hover, .info-td-head:hover {
    background-color: #e3d040;
}

#info img{
    height: 60px;
    width: 60px;
    position:relative; 
}


.small {
    height: 50px;
    width:fit-content;
    font-size: small;
    margin-bottom: 10px;
}

.delete-btn {
    background-color: rgb(188, 26, 26);
    width: 80px;
}
.delete-btn:hover {
    background-color: rgb(163, 35, 35);

}

/*Built in*/
h1 {
    font-size: 80px;
    margin-top: 20px;
    text-shadow: 5px 5px 0 #F0DE55;
}

h2 {
    margin-top: 0;
    font-size: xx-large;
}

hr {
    border: none;
    height: 5px;
    background-color: black;
    margin-bottom: 40px;
}

input {
    padding: 5px;
    margin-bottom: 5px;
}

/*LeaderBoard*/ 
.leaderboard-body{
    margin: 0;
}

.leaderboard-container{
    width: 100%;
    background-color: transparent;
}

.leaderboard-container table , .top_scores table{
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-container th, .leaderboard-container td, .top_scores th, .top_scores td  {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background: transparent;
}

/*Start Page */
.start_container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.start_header{
    flex: 1;
    text-align: center;
}
.leaderboard-content {
    background-color: transparent;
    padding-top: 100px; 
    width: 40%;
}
iframe {
    width: 90%;
    height: 500px;
    border: 5px black solid;
    background-color: #F0DE55;
}

/* Player Info */ 
#user_info, #top_scores, .top_scores h2{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

