body {
    font-family:'Segoe UI', sans-serif;
    padding: 20px;
    background: linear-gradient(to bottom, #58c4d1 50%, #2e949f);
}

.instructions {
    background-color: #F0DE55;
    padding: 15px;
    margin-right: 10px;
    border-radius: 3px;
    width: fit-content;
    box-shadow: inset -3px -3px 8px rgba(42, 42, 42, 0.5);
    visibility: hidden;
    text-align: center;
}

.dice {
    position: relative;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.5);
}

.score:hover, .dice:hover{
    background-color: rgb(255, 245, 170);;
}

.dice .middle {
    position: absolute;
    top: 40%;
    left: 40%;
}
.dice .top-left {
    position: absolute;
    top: 5%;
    left: 5%;
}
.dice .top-right {
    position: absolute;
    top: 5%;
    right: 5%;
}
.dice .bottom-left {
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.dice .bottom-right {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.dice .middle-left {
    position: absolute;
    top: 40%;
    left: 5%;
}
.dice .middle-right {
    position: absolute;
    top: 40%;
    right: 5%;
}

.dot {
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px; 
}

#score-table {
    padding: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}

.score-td, .score {
    padding: 5px;
    width: 200px;
    border-style: solid;
    background-color: white;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.dice-td {
    padding: 5px;
    width: 200px;
}

.row {
    display: flex;
    width: 100%;
}

#dice-board {
    flex:1;
}

button {
    border: 0;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    font-size: x-large;
    background-color: #F0DE55;
    box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.5);
}

.play-button{
    font-size: xx-large;
    width: 200px;
    height: 100px;
    background: transparent;
    box-shadow:none;
}

.play-button:hover {
    border-style: solid;
    border-width: 3px;
}

iframe {
    border: none;
}

h1 {
    font-size: 80px;
    margin-top: 20px;
}