body {
    font-family:'Segoe UI', sans-serif;
    padding: 20px;
    background: linear-gradient(to bottom, #58c4d1 50%, #2e949f);
}

/*Dice*/
.dice {
    position: relative;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.5);
}

.score:hover, .dice:hover{
    background-color: rgb(255, 245, 170);;
}

.dice .middle {
    position: absolute;
    top: 40%;
    left: 40%;
}
.dice .top-left {
    position: absolute;
    top: 5%;
    left: 5%;
}
.dice .top-right {
    position: absolute;
    top: 5%;
    right: 5%;
}
.dice .bottom-left {
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.dice .bottom-right {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.dice .middle-left {
    position: absolute;
    top: 40%;
    left: 5%;
}
.dice .middle-right {
    position: absolute;
    top: 40%;
    right: 5%;
}

.dot {
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px; 
}

/*Other Components*/
.instructions {
    background-color: #F0DE55;
    padding: 15px;
    margin-right: 10px;
    border-radius: 3px;
    width: fit-content;
    box-shadow: inset 0px 0px 8px rgba(42, 42, 42, 0.5);
    visibility: hidden;
    text-align: center;
}

#score-table {
    padding: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}

.score-td, .score {
    padding: 5px;
    width: 200px;
    border-style: solid;
    background-color: white;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.dice-td {
    padding: 5px;
    width: 200px;
}

#title {
    margin: 0px; 
    padding: 0px;
}

#upper-title, #lower-title {
    background-color: #F0DE55;
    font-size: large;
}

/*Containers*/
.row {
    display: flex;
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#dice-board {
    flex:1;
}

/*Buttons*/
button {
    border: 0;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    font-size: x-large;
    background-color: #F0DE55;
    box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.5);
}

.play-button {
    font-size: xx-large;
    width: 200px;
    height: 100px;
    background: transparent;
    box-shadow:none;
}

.play-button:hover {
    border-style: solid;
    border-width: 3px;
}

#how-to-play {
    font-size: large;
    position: relative;
    top: 30px;
}

#roll-button:hover, #how-to-play:hover {
    background-color: #e3d040;
}

/*Built in*/
h1 {
    font-size: 80px;
    margin-top: 20px;
    text-shadow: 5px 5px 0 #F0DE55;
}

h2 {
    margin-top: 0;
    font-size: xx-large;
}

hr {
    border: none;
    height: 5px;
    background-color: black;
    margin-bottom: 40px;
}

/*LeaderBoard*/ 
.leaderboard-container {
    width: 100%;
}

.leaderboard-container table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-container th, .leaderboard-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.leaderboard-container th {
    background-color: #f2f2f2;
}

/*Star Page */
.start_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.start_header{
    flex: 1;
}
.leaderboard-content {
    padding-top: 100px; 
    width: 40%;
}
iframe {
    width: 100%;
    height: 500px;
    border: none;
}

